// rotate waviy
.waviy {
	position: relative;
}
.waviy span {
	animation: flip 6s infinite;
	animation-delay: calc(0.2s * var(--i));
}
@keyframes flip {
	0%,
	80% {
		transform: rotateY(360deg);
	}
}
